.btn-info {
  color: $white;
  background-color: $color-info;
  border-color: $color-info;
}

.ant-btn:hover {
  background-color: darken($color-info, 5%);
  border-color: darken($color-info, 5%);
}

.ant-modal {
  top: 30px;
}

.ant-btn-circle {
  position: absolute;
  right: -30px;
  top: -5px;
}

.ant-btn-primary {
  color: $white;
  background-color: $color-info;
  border-color: $color-info;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-danger {
  color: $white;
  background-color: $danger;
  border-color: $danger;
}

.ant-btn-circle,
.ant-btn-circle-outline {
  width: 25px;
  height: 25px;
}

.btnMinus {
  position: absolute;
  right: -30px;
  top: 0;
}

.ant-radio-checked .ant-radio-inner {
  border-color: $color-info;
}

.ant-radio-inner::after {
  background-color: $color-info;
}

.Pagination {
  text-align: end;
  padding: 20px;
}