#Accordion {
  width: 100%;
}

h4 {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.container {
  height: 100%;
}

.smallfontSize {
  font-size: 0.9rem;
}

.text-info {
  color: $colorinfo;
}
.text-primary{
  color: $btn-primary;
}
.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.p-2 {
  padding: 0.5rem;
}

.m-0 {
  margin: 0;
}

.ml-auto,
.mx-auto {
  margin-left: auto;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem;
}

.mt-3,
.my-3 {
  margin-top: 1rem;
}
.mt-5, .my-5{
  margin-top: 3rem;
}
.mb-4, .my-4{
  margin-bottom: 1.5rem;
}

.ant-form-item-label {
  min-width: 80px;
  align-self: center;
  margin-bottom: 0;
  text-align: right;
}

.ant-collapse-content>.ant-collapse-content-box {
  padding: 0;
}

// sidebar active Start
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: $white;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: none;
}

.ant-card-body {
  padding: 15px;
}

.tab-content {
  padding: 40px 0;
}

.editPhone {
  display: block;
}

.hide {
  display: none;
}

.pageName {
  font-size: 1rem;
}

.bg-light {
  background: $light;
}

.boderbottom-0 {
  border-bottom: none;
}

.card-shadow {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.align-items-center {
  align-items: center;
}

.text-secondary {
  color: $text-secondary;
}

.text-dark {
  color: $text-dark;
}

.text-info {
  color: $text-info;
}

.text-left {
  text-align: left;
}

.text-blue {
  color: $btn-primary;
}

.text-danger {
  color: $danger;
}

.padding-card {
  padding: 15px;
}

.SalesCard {
  cursor: pointer;
}

.font-weight-bold {
  font-weight: 700;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}