$color-info: #46b5ce;
$white: #fff;
$white-opacity:rgba(255,255,255,0.7);
$btn-primary: #003057;
$black-shadow: rgba(0, 0, 0, 0.2);
$color-gray: #f8f8f8;
$colorinfo: #17a2b8;
$breadcrumb: #e9ecef;
$bg-sidebar: #f8f9fa;
$shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$btn-shadow: 2px 7px 9px rgba(0, 0, 0, 0.2);
$danger:#dc3545;
$blue: #214056;
$light: #f8f8f8;
$text-secondary:#868e96;
$text-dark:#343a40;
$text-info:#17a2b8;