@import "_variable.scss";
@import "_mixins.scss";
@import "_grid.scss";
@import "_button.scss";

body {
  font-family: Arial, sans-serif;
}

#collapseBox {
  text-align: right;
  padding-right: 80px;

  .addbtn {
    border-radius: 100px;
    width: 60px;
    height: 60px;
    text-align: center;
    position: fixed;
    top: 40px;
    box-shadow: $btn-shadow;
    z-index: 2;
  }
}

#accordionCard {
  .ant-collapse {
    border: none;
    font-size: 1rem;
    @include shadow-sm;
    margin-bottom: 1.5rem;

    .ant-collapse-item {
      border-bottom: none;

      .ant-collapse-header {
        padding: 1.15rem 1.25rem;
        color: $color-info;
      }

      .ant-collapse-content {
        border-top: none;
      }
    }
  }
}

#Accordion {
  .target-num {
    font-size: 3rem;
  }

  .ant-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    list-style: none;
  }
}

#side_bar {
  height: 100%;

  .ant-menu-inline {
    border-right: none;
  }

  .ant-menu {
    background-color: $bg-sidebar;
    height: 100%;
  }

  .logo {
    padding: 20px;
    @include backgroundColor($color-info);
    color: $white;
    font-size: 24px;
    width: 100%;

    .version {
      text-align: right;
      font-size: 14px;
    }
  }
}

#login-main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-size: cover;

  .ant-form.login-form {
    width: 100%;
    max-width: 400px;
    text-align: left;
    margin: auto;
    padding: 40px 30px 70px 30px;
    background-color: $white-opacity;
    box-shadow: $btn-shadow;
  }
}

.TextAreaModel{
  .ant-form-item-control{
    width: 370px;
  }
}

.GameOverModel {
  .ant-form-item-label {
    text-align: left;
  }
}

.target-header.ant-collapse {
  box-shadow: none !important;
  background-color: $white;
}
.detailYesterday {
  padding: 0.3rem 0.6rem;
}

.SalesCard:hover {
  transform: scale(1.03);
}
